<!DOCTYPE html>
<html>
  <head>
    <title>Version 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'version_1/version_1', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>This is a header from version 1 layout</h1>
    <%= yield %>
  </body>
</html>
